.setting {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: rgba(0, 0, 0, 0.6);
}
.configList {
  display: flex;
  flex-direction: column;
  gap: 23px;
}
.config {
  display: flex;
  justify-content: space-between;
}
.configLabel {
}
