#page {
  min-width: 320px;
  min-height: 100vh;
  max-width: 768px;
  margin: 0 auto;
}

.main .top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

#logo {
  width: 180px;
  height: 59px;
}

.contents {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: calc(100vh - 99px);
  padding-bottom: 40px;
  box-sizing: border-box;
}
.contents > * {
  padding: 10px 20px;
}
.character {
  flex: 1;
}
.character .edit {
  padding: 10px;
  background-color: #393e46;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.character .edit img {
  width: 200px;
  height: 200px;
}
.name {
}
.name input {
  font-size: 1.2rem;
  text-align: center;
}
.language {
}
.language select {
  background-color: #393e46;
  color: #eeeeee;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: none;
}
.room-info {
  text-align: center;
}
.actions {
  display: flex;
  justify-content: space-around;
}
.actions button {
  width: 40%;
}

/* ------------ game page ------------ */
.game {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.game .top {
  padding: 5px 10px;
}
.canvas-wrapper {
  padding: 5px 10px;
}
.canvas-wrapper canvas {
  width: 100%;
}
.chat {
  padding: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.chat-list {
  flex: 1;
  overflow: auto;
}
.chat-list .item {
}
.chat-input {
  display: flex;
  gap: 10px;
}
.chat-input input {
  padding: 10px;
}
.chat-input button {
  padding: 10px;
}
