* {
  margin: 0;
}
@font-face {
  font-family: "Symtext";
  src: url("./font/Symtext.ttf") format("truetype");
}

/* @font-face {
  font-family: "Symtext";
  src: url("./font/PixBob-Lite.ttf") format("truetype");
  unicode-range: U+30-39;
} */

* {
  font-family: "Symtext";
  font-size: 16px;
  line-height: normal;
}
body {
  --black: #000;
  --white: #fff;
  --grey-300: #c8c8c8;
  --grey-600: #444444;
  --grey-900: #303030;
  --main-blue: #3864ff;
  --press-blue: #002dcb;
  --bg-blue: #2a46a8;
  --chatting-bg: #293c80;
  --sub-yellow: #fbb03b;
  --system-green: #5aff6b;
  overscroll-behavior: none;
}
button {
  padding: 10px;
  cursor: pointer;
  border: 2px solid #fff;
  color: #fff;
  background: var(--grey-600);
  padding: 14px 43px;
}
button:hover {
  background: var(--grey-900);
}
button:active {
  transform: scale(0.95);
}
button:disabled {
  background: var(--grey-300);
}
.text-button {
  color: var(--grey-300);
  text-decoration: underline;
  cursor: pointer;
  font-size: 14px;
  user-select: none;
}
.text-button:hover {
  color: var(--press-blue);
}
.text-button:active {
  transform: scale(0.95);
}
input {
  background-color: transparent;
  color: var(--white);
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 10px 40px;
  border-bottom: 2px solid var(--white);
  border-radius: 0;
}
input::placeholder {
  color: var(--grey-300);
}
.title {
  font-size: 20px;
}
.caption {
  font-size: 14px;
}
.chatting {
  font-size: 12px;
}
#error-page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
#error-page img {
  width: 300px;
  height: 120px;
}
#error-page h1 {
  font-size: 24px;
}
